*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

.container{
  max-width: 1200px;
  margin:0 auto;
}

header{
  height: 50px;
  background-color: #1D252C;
}

header .container{
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container{
  margin: 0;
}

ul{
  padding: 0;
  display: flex;
}

li{
  list-style: none;
  margin-left: 20px;
}

a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.banner{
  background-color: #1D1D1B;
  color: #fff;
  height: 250px;
  font-size: 16px;
}

.banner .container{
  height: inherit;
  display: flex;
  align-items: center;
}

.banner-title{
  font-size: 1.8em;
  margin: 0;
  text-align: center;
  width: 68%;
  padding: 0 1em;
}

.banner-title span{
  color: #007ACC;
}

.banner-img{
  width: 30%;
  margin: 0;
  text-align: center;
}

.banner-img img{
  max-width: 100%;
}

h2{
  color: #007ACC;
  text-align: center;
  font-size: 1.4em;
  margin: 0;
  padding: 1em 0;
}

.project-item{
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
  padding: 1.5em 1.8em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.project-info{
  width: 50%;
  font-size: 17px;
}

.project-title{
  font-size: 1.8em;
}

.project-course{
  font-size: 1.2em;
}

.project-date,.project-url{
  font-size: 1em;
}

.project-title,.project-course,.project-date,.project-url {
  margin: 0 0 1em 0;
}

.project-details{
  margin: 0;
}

.project-img{
  width: 50%;
  margin:0;
}

.project-item img{
  max-width: 100%;
}

.events .container{
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
}

.event-item{
  width: 48%;
  border-radius: 5px;
  background-color: #F4FBFF;
  overflow: hidden;
  box-shadow:  0 4px 8px 0 rgba(0,0,0,.1);
  margin-bottom: 2em;
}

.event-img{
  margin: 0;
}

.event-img img{
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.event-info{
  position: relative;
  background-color: #fff;
  margin: 1.2em 1.5em;
  margin-top: -2em;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  box-shadow:  0 4px 8px 0 rgba(0,0,0,.1);
  font-size: 16px;
}

.event-title{
  font-size: 1.2em;
}

.event-details{
  font-size:0.9em
}

.contacts{
  background-color: #007ACC;
  color: #fff;
  font-size: 16px;
  padding: 20px 0;
}

.contacts .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form-title{
  font-size: 1.5em;
  margin: 0;
margin-bottom:1em; 
}

.form-input{
  font-family: 'Montserrat', sans-serif;
  background-image: url('../assets/envelope.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position-y: center;
  background-position-x: 10px;
  display: block;
  padding: .7em 3em;
  margin-bottom: 1em;
  border:none;
  border-radius: 4px;
}

.form-btn{
  width: 120px;
  padding: .5em 1.5em;
 background-color: #007ACC;
 color: #fff;
 border: 2px solid #fff;
 border-radius: 4px;
}

.sociales{
  font-size: 14px;
  display: flex;
}


.social-item{
  width:4em;
  height: 4em;
  padding: 2px;
  background-size: 4em 4em;
  margin: 0 10px;
}

.facebook{
  background-image: url('../assets/facebook.svg');
}
.github{
  background-image: url('../assets/github.svg');
}
.instagram{
  background-image: url('../assets/instagram.svg');
}
.twitter{
  background-image: url('../assets/twitter.svg');
}

.iconMenu{
  color: #fff;
  font-size: 1.6em;
  position: relative;
  z-index: 3;
  display: none;
}
.show{
  transform: translateX(0);
}

@media screen and (max-width:1024px){
  .container{
    padding: 2em;
  }
}

@media screen and (max-width:767px){

  header{
    height: auto;
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#1D252C;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: .3s ease;
  }

  nav ul{
    display: block;
    width: 100%;
  }

  nav li{
    text-align: center;
    border-bottom: 2px solid #fff;
    margin: 0 1em;
    padding: 1em 0;
  }

  nav li:last-child{
    border:none;
  }

  .banner{
    font-size: 14px;
  }

  .banner-img{
    display: none;
  }

  .banner-title{
    width: auto;
  }

  .project-item{
    display: block;
  }

  .project-info,.project-img{
    width: auto;
    text-align: center;
  }

  .project-info{
    font-size: 15px;
  }

  .event-info{
    font-size: 15px;
  }

  .events .container{
    display: block;
  }

  .event-item{
    width: auto;
  }

  .iconMenu{
    display: block;
  }

  .contacts .container{
    display: block;
  }

  .contacts form{
    text-align: center;
    margin-bottom: 2em;
  }

  .contacts input{
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .sociales{
    justify-content: center;
  }
}

@media screen and (max-width:480px){

  .container{
    padding: 0 2em;
  }

  h2{
    font-size:1em;
  }

  .project-info{
    font-size: 13px;
  }

  .project-item:last-child{
    margin: 0;
  }
  .social-item{
    width:3em;
    height: 3em;
    padding: 2px;
    background-size: 100%;
  }
}

@media screen and (max-width:320px){
  
}



